language: cpp
matrix:
  include:
    - compiler: gcc
      os: linux
    - compiler: clang
      os: osx

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-8
    - g++-8
    - clang
    - libgl1-mesa-dev
    - x11proto-core-dev
    - libx11-dev

before_script:
  - git clone --depth 1 https://github.com/bkaradzic/bx ../bx
  - git clone --depth 1 https://github.com/bkaradzic/bimg ../bimg

script:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then make build CXX="g++-8" CC="gcc-8"; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then make osx-x64-debug; fi

branches:
  only:
    - master

notifications:
  email: false

osx_image: xcode11
