language: cpp

jobs:
  include:
  - os: linux
    compiler: gcc
  - os: linux
    compiler: clang
  - os: linux
    compiler: gcc
    arch: arm64
  - os: osx
    compiler: clang
  - os: windows
    compiler: cl
    env:
      - TARGET="Visual Studio 15 2017"
  - os: windows
    compiler: cl
    env:
      - TARGET="Visual Studio 15 2017 Win64"

script:
  - if [[ "$TRAVIS_COMPILER" == "gcc" ]]; then make -j2 config=coverage test; fi
  - if [[ "$TRAVIS_COMPILER" == "clang" ]]; then make -j2 config=sanitize test; fi
  - if [[ "$TRAVIS_OS_NAME" != "windows" ]]; then make -j2 config=debug test; fi
  - if [[ "$TRAVIS_OS_NAME" != "windows" ]]; then make -j2 config=release test; fi
  - if [[ "$TRAVIS_OS_NAME" != "windows" ]]; then make -j2 config=release gltfpack; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then cmake -G "$TARGET" -DMESHOPT_BUILD_DEMO=ON -DMESHOPT_BUILD_TOOLS=ON; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then cmake --build . -- -property:Configuration=Debug -verbosity:minimal; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then ./Debug/demo.exe demo/pirate.obj; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then cmake --build . -- -property:Configuration=Release -verbosity:minimal; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then ./Release/demo.exe demo/pirate.obj; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then make -j2 config=iphone; fi

after_script:
  - if [[ "$TRAVIS_COMPILER" == "gcc" ]]; then
    find . -type f -name '*.gcno' -exec gcov -p {} +;
    sed -i -e "s/#####\(.*\)\(\/\/ unreachable.*\)/    -\1\2/" *.gcov;
    bash <(curl -s https://codecov.io/bash) -f 'src#*.gcov' -X search;
    fi
